a{
    text-decoration: none;
   
    
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
   
}

li{
    cursor: pointer;
    color: rgba(198,197,201,255);
    padding-bottom: 20px; 
}

li:hover{
    border-bottom: 1px solid green;
    color: rgba(94,93,100,255);
}   

@media only screen and (max-width: 1000px) {

    ul{
        padding-left: 0;
        gap: 10px;
    }
    }